/* UOB Blog style
body {
  background-color: #ffffff;
February 2018
Ben Joyner, Digital Comms */

/* temp
.main-navigation {
  display: none;
  visibility: hidden;
} */

/* RUFUS BRAND FONT */

@font-face {
  font-family: "Rufus";
  src: url("../assets/fonts/rufus/FSRufus.woff2")
      format("woff2"),
    url("../assets/fonts/rufus/FSRufus.woff")
      format("woff"),
    url("../assets/fonts/rufus/FSRufus.ttf")
      format("truetype");
}

@font-face {
  font-family: "RufusLight";
  src: url("../assets/fonts/rufus/FSRufus-Light.woff2")
      format("woff2"),
    url("../assets/fonts/rufus/FSRufus-Light.woff")
      format("woff"),
    url("../assets/fonts/rufus/FSRufus-Light.ttf")
      format("truetype");
}

/* ICONS */
@font-face {
	font-family: 'icomoon';
	src:url('../assets/fonts/icomoon.eot?-130idf');
	src:url('../assets/fonts/icomoon.eot?#iefix-130idf') format('embedded-opentype'),
		url('../assets/fonts/icomoon.woff?-130idf') format('woff'),
		url('../assets/fonts/icomoon.ttf?-130idf') format('truetype'),
		url('../assets/fonts/icomoon.svg?-130idf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
  font-size: 62.5%; /* so we can use REMS as 10s */
}

body {
  background: #e5e6e5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  font-size: 1.6rem;
  color: #333
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rufus;
  font-weight: normal;
  margin: 0;
  color: #b01c2e;
}

h1 {
  line-height: 1.2;
  font-size: 23px;
  font-size: 2.3rem;
}

h2 {
  font-size: 19px;
  font-size: 1.9rem;
}

h3 {
  font-size: 16px;
  font-size: 1.6rem;
}

.entry-title {  
  font-size: 33px;
  font-size: 3.3rem;
  margin-bottom: 5px;
}

a, a:visited {
  color: #333
}

a:hover {
  text-decoration: none;
  color: #333;
}

ul {
  margin-left: 0;
  padding: 0
}

.site-content ul li, 
.site-content ol li {
  margin-left: 1.5em
}

/* FORMS */
 button, input, select, optgroup, textarea {
   font-size: 16px;
   font-size: 1.6rem;
 }

 /* remove from other stylesheet */
 input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
 }

  /* remove from other stylesheet */
 button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid;
  border-color: #b01c2e;
  border-radius: 3px;
  font-size: 16px;
  font-size: 1.6rem;
  background: #b01c2e;
  color: #fff;
  line-height: 1;
  padding: 9px 18px;
}



/* bg colours */
.site-content,
#primary,
#secondary {
  background: #fff;
}

.site-header::after {
  height: 100px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -100px;
  content: " ";
  background: rgba(206,207,192,0.5);
  background: -moz-linear-gradient(top, rgba(206,207,192,0.5) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(206,207,192,0.5)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(206,207,192,0.5) 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(206,207,192,0.5) 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(206,207,192,0.5) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(206,207,192,0.5) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecfc0', endColorstr='#ffffff', GradientType=0 );
}

/* ICONS */
[class^="icon-"]:before,
[class*=" icon-"]:before,
.menu-item-has-children > a:before {
  font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
 	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* LAYOUT */
.site-content {
  max-width: 1200px; /* width of overall area */
  margin: 0 auto;
  margin-top: -48px;
  z-index: 20;
  overflow: visible;
  position: relative;
}

#primary {
  width: 66.6%;
  float: left;
  margin: 0;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 36px;
}

#secondary {
  width: 33.3%;
  float: right;
  margin: 0;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 24px;
}

/* to set positioning for shadow generated content */
#primary,
#secondary {
  position: relative;
}

/* Shadows */
#primary::after {
  z-index: -1;
  position: absolute;
  content: "";
  left: 5px;
  width: 40px;
  top: 0;
  height: 400px;
  box-shadow: -5px 0 6px rgba(0, 0, 0, 0.2);
  display: block;
  transform: rotate(-2deg);
  -webkit-backface-visibility: hidden; /* to stop jaggedy in chrome */
}

#secondary::after {
  z-index: -1;
  position: absolute;
  content: "";
  right: 5px;
  width: 40px;
  top: 0;
  height: 400px;
  box-shadow: 5px 0 6px rgba(0, 0, 0, 0.2);
  display: block;
  transform: rotate(2deg);
  -webkit-backface-visibility: hidden; /* to stop jaggedy in chrome */
}
}

header {
  margin-bottom: 0;
}

/* layout padding/gutters */
.site-main {
  /* padding-left: 40px;
  padding-right: 40px; */
  background: #fff;
  position: relative;
  z-index: 5;
}

/* BRANDING */
.site-header {
  background-size: cover;
  background-repeat: none;
  height: 350px;
  position: relative; /* to set position of branding */
  z-index: 10;
}

.site-branding {
  background-image: url(../assets/images/bg-uob-red.png);
  max-width: 1200px;
  margin: 0 auto;
  background-position: top right;
  padding: 24px 70px 24px 40px;
  position: absolute;
  bottom: 48px;
  left: 50%; /* align middle */
  margin-left: -600px; /* align middle */
}



.site-title,
.site-title a,
.site-description {
  color: #fff;
  text-decoration: none;
}

.site-title {
  font-family: Rufus;
  font-weight: normal;
  font-size: 43px;
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

.site-description {
  margin: 0;
  padding: 0;
}

.site-title + .site-description {
  margin-top: 5px;
}

/* NAVIGATION */
.main-navigation,.sub-menu {
  background: rgba(0,0,0,1);  
  font-size: 14px;
  font-size: 1.4rem;
}

.main-navigation {
  border-bottom:  1px solid rgba(255 ,255 ,255, 0.35)
}

.main-navigation, .main-navigation a {
  color: #fff
}

.main-navigation a {
  padding: 10px 25px;
  border-right: 1px solid rgba(255 ,255 ,255, 0.35)
}

.main-navigation a:hover, 
.main-navigation a:focus {
  background: rgba(0,0,0,1.0);
}

#primary-menu > li:first-child a {
  border-left: 1px solid rgba(255 ,255 ,255, 0.35);  
}

.sub-menu a {
  border: 0;
  border-bottom: 1px solid rgba(255 ,255 ,255, 0.35); 
}

.menu-item-has-children a {
  position: relative;
  padding-right: 35px
}

.menu-item-has-children > a:before {
  content: "\e014";
  position: absolute;
  right: 15px;
  top: 35%;
}  

/* positioning of menu */
.menu-menu-1-container {
  max-width: 1200px;
  margin: 0 auto; 
}

/* ARTICLE */
.entry-header {
  border-bottom: 1px solid #e5e6e5;
  padding-bottom: 24px;
}

.entry-meta {
  font-size: 14px;
  font-size: 1.4rem
}

/* META */
.entry-meta {
  padding-top: 24px; 
  opacity: 0.75
}

.entry-title + .entry-meta {
  padding-top: 0
}

/* COMMENTS */

.comments-area {
  border-top: 1px solid #e5e6e5;
  padding-top: 24px; 
}

/* force new line */
.comments-area label {
  display: block;
  margin-bottom: 5px;
}

.comment-reply-title {
  font-size: 19px;
  font-size: 1.9rem
}

