/* UOB bright pink theme
February 2018
Ben Joyner, Digital Comms */

.site-branding {
  background-image: url(../../assets/images/bg-b-blue.png);
}

/* uses version with opacity as overlay on image */
@media screen and (min-width: 1218px) {
  .has-header-image .site-branding {
    background-image: url(../../assets/images/bg-b-blue-opacity.png);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c7698;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-color: #1c7698;
  background: #1c7698;
}

.current_page_parent a {
  color: #1c7698;
}
