/* UOB bright pink theme
February 2018
Ben Joyner, Digital Comms */

.site-branding {
  background-image: url(../../assets/images/bg-b-pink.png);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #cb238e;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-color: #cb238e;
  background: #cb238e;
}

/* Dark colour for site header when no image */
.site-header {
  background: rgb(119, 32, 89); /* Old browsers */
  /* background: -moz-linear-gradient(
    top,
    rgba(119, 32, 89, 1) 25%,
    rgba(203, 35, 142, 1) 99%
  ); 
  background: -webkit-linear-gradient(
    top,
    rgba(119, 32, 89, 1) 25%,
    rgba(203, 35, 142, 1) 99%
  ); 
  background: linear-gradient(
    to bottom,
    rgba(119, 32, 89, 1) 25%,
    rgba(203, 35, 142, 1) 99%
  ); 
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#772059",
      endColorstr="#cb238e",
      GradientType=0
    ); /*
}
