/* UOB bright pink theme
February 2018
Ben Joyner, Digital Comms */

.site-branding {
  background-image: url(../../assets/images/bg-d-blue.png);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #282fbc;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  border-color: #282fbc; 
  background: #282fbc;
}
